.content-main{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
}
.barrapesquisa{
    height: 30px;
    border: 1px solid black;
    width: 200px;
    border-radius: 5px;
    font-size: 1.4rem;
}
.barradepesquisa :focus-visible{
    outline: 1px solid rgb(28, 28, 191,0.57);
}
.pesquisa{
    padding: 50px;
}